@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.side-img {
  float: left;
  width:  25vw;
  height: 25vh;
  object-fit: cover;
  object-position: center center;
}

.locked-scroll {
  height: 76vh;
  overflow-y: scroll;
}

.active{
  width:  50vw;
  height: 50vh;
  object-fit: contain;
}



